<form id="login-form" method="POST" onsubmit="return handleLogin(event)">
    {% csrf_token %}
    <div class="form-group mb-4">
        <label for="username" style="color: #343a40; font-weight: bold;">Nome de Usuário</label>
        <input type="text" name="username" class="form-control form-control-lg" id="username" placeholder="Digite seu nome de usuário" required>
    </div>

    <div class="form-group mb-4">
        <label for="password" style="color: #343a40; font-weight: bold;">Senha</label>
        <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Digite sua senha" required>
    </div>

    <div id="error-message" class="alert alert-danger d-none"></div>

    <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary w-100" style="font-weight: bold;">
            Entrar
        </button>
    </div>
</form>

<script src="{% static 'js/login.js' %}"></script>
