
.navbar {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    border-bottom: 3px solid #ffdd57;
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
    font-size: 1.8rem;
    transition: all 0.3s ease;
}

.navbar-brand:hover {
    color: #ffdd57 !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffdd57 !important;
}

.nav-item.sair-link .nav-link {
    color: #dc3545 !important;
}

.nav-item.sair-link .nav-link:hover {
    color: #c82333 !important;
}

.nav-item {
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: translateY(-5px);
}

.navbar-toggler-icon {
    background-color: #fff !important;
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffdd57 !important;
    font-weight: bold;
}


@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #4e54c8;
        border-radius: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 10px 15px;
    }
}


.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
